* {
    margin: 0;
    padding: 0;
}

html {
    scroll-padding-top: 4em;
}

body {
    font-family: sans-serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

main {
    background-color: #F8F9FA;
}

/*Navigation bar color and padding*/
.navbar {
    background-image: linear-gradient(to right, #343A40, #A50000);
    padding: 0 !important;
}

/*Logo image and text*/
.navbar-brand img {
    height: 60px;
    padding: 0.5em 0;
    padding-right: 0.5em;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.navbar-nav li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 0.1em;
}

.navbar-nav li a.nav-link-selected {
    /* color: # !important; */
    text-decoration: underline;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 0.1em;
}

.fa-bars {
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

/*Text-picture section*/
#text-picture {
    color: #000;
    padding-top: 5%;
}

#text-picture h2{
    text-align: center;
    color: #000;
    font-size: 30px;
}

#text-picture a {
    color: #000;
    text-decoration: none;
}

/*Carousel section*/
#carousel {
    background-color: #ccc;
}

#carousel h2{
    text-align: center;
    color: #000;
    font-size: 30px;
}

.carousel-inner>.carousel-item>img {
    margin: auto;
}

/*Map section*/

#googlemaps {
    height: 50%;
}

#map {
    background-color: #ccc;
}

#map h2{
    text-align: center;
    color: #000;
    font-size: 30px;
}

#map-container-google-1 {
    height: 500px;
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 80%;
    width: 80%;
    position: absolute;
}

/*Footer section*/
footer {
    background-image: linear-gradient(to right, #343A40, #A50000);
}